.navBar {
  width: 100%;
  height: 298px;
  background-color: #016efc;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  color: black;
}
.dayModeUl {
  margin-top: 138px;
}
.darkNavBar {
  width: 100%;
  height: 298px;
  background-color: #09131f;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainMenu {
  width: 1569px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 234px;
}
.mainMenu:last-child {
}
.menu {
  display: flex;
  padding: 58px 0 71px;
}
.dayModeUl {
  display: flex;
}
.menu li {
  margin-right: 50px;
}
.logOut {
  float: right;
  padding-top: 50px;
}
.closeButton {
  cursor: pointer;
  width: 33px;
  height: 33px;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}
.close {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.menu ul {
  padding: 0;
  margin: 70px 0 0 82px;
  list-style-type: none;
  text-align: left;
}

.menu ul li:not(:last-of-type) {
  margin-bottom: 22px;
}

.menu a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: white;
  text-decoration: none;
}

a.activeLink {
  text-decoration: underline;
}
